/*
 *  main.css
 *  Main style sheet for sfuco-site
 *  Reinier E.
 *  r.evangel@live.com
 *  2016-2017
*/

/*
    Global default typgraphy defaults
*/
@font-face {
    font-family: ch-bold;
    src: url(fonts/CooperHewitt-Bold.otf);
}

@font-face {
    font-family: ch-book;
    src: url(fonts/CooperHewitt-Book.otf);
}

@font-face {
    font-family: ch-thin;
    src: url(fonts/CooperHewitt-Thin.otf);
}

.ch-bold {
    font-family: ch-bold;
}

.ch-book {
    font-family: ch-book;
}

.ch-thin {
    font-family: ch-thin;
}

body {
    font-family: ch-book;
    color: rgb(26,26,26);
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
}

p {
    font-size: 12px;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    font-family: ch-book;
}

/*
    Global default layout classes and rules
*/
.inline {
    display: inline-block;
}

.block {
    display: block;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-element {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.exec-bio a span {
    display: none;
}

.modal-overlay {
    background-color: rgba(26,26,26,0.9);
    display: none;
    position: fixed;
    z-index: 99;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.modal-overlay:target {
    display: block;
}

.modal-box {
    background-color: rgba(255,255,255,1);
    width: 50%;
    margin-top: 5vh;
    margin-left: auto;
}

section {
    padding-top: 10vh;
}

/*
    Site-specific default rules:
        Organized in the same order as the DOM
*/

#vertical-nav ul {
    left: 12px;
    position: fixed;
    top: 25vh;
}

#vertical-nav li {
    clear: left;
    display: block;
    float: left;
    margin: 1px;
    vertical-align: left;
}

.logo {
    float: left;
}

.logo img {
    height: 72px;
    max-width: 72px;
}

.navigation a {
    display: block;
    font-size: 16px;
    padding: 12px;
}

#horizontal-nav {
    float: right;
}

#horizontal-nav li {
    display: table-cell;
    float: left;
    vertical-align: middle;
}

#home-title {
    padding-top: 50vh;
}

.exec-bio img {
    height: 200px;
    width: 200px;
}

.exec-bio:hover span{
    font-family: ch-bold;
    color: white;
    display: block;
    font-size: 24px;
    position: absolute;
    left: 25px;
    top: 150px;
    z-index: 2;
}

.exec-bio:hover .hover-overlay {
    background-color: rgb(26,26,26);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

#exec-detail-image {
    max-height: 50vh;
    max-width: 100%;
    height: auto;
}

#exec-detail-text {
    padding: 12px;
}

#exec-description {
    max-height: 25vh;
    overflow-y: auto;
}

#exec-name h3 {
    font-family: ch-bold;
    text-align: right;
}

#exec-name span {
    font-family: ch-thin;
    font-size: 24px;
    color: rgb(26,26,26);
    display: block;
    line-height: 10px;
    text-align: right;
}

.news-title {
    font-family: ch-bold;
}

.news-date {
    font-family: ch-thin;
}

.news-content {
    font-family: ch-book;
}

#contact-form .modal-box{
    display: block;
    width: 100%;
    height: 80%;
    padding: 50px 100px;
    overflow: hidden;
}

#contact-logo {
    width: 100%;
    height: auto;
}

#letterhead h3, #letterhead h4 {
    font-size: 100%;
}

#contact-form-body span {
    font-family: EB Garamond;
    font-size: 16px;
    margin-right: 10px;
}

#contact-form-body input[name=subject] {
    width: 15vw;
}

#contact-form-body input {
    border: none;
    border-bottom: 1px solid rgb(26,26,26);
    border-radius: 0px;
    padding-bottom: 0px;
    width: 10vw;
}

#contact-form-body input:focus {
    border-bottom: 1px solid rgb(81, 203, 238);
}

#contact-form-body input[type=submit] {
    font-family: ch-bold;
    border: 1px solid rgb(26,26,26);
    float: right;
}

#contact-form-body input[type=submit]:hover {
    color: white;
    background-color: rgb(26,26,26);
}

#contact-form-body select {
    padding: 0px;
    margin: 0px;
    border: none;
    border-top: 1px solid rgb(26,26,26);
    border-bottom: 1px solid rgb(26,26,26);
    border-radius: 0px;
}

footer {
    padding-top: 20px;
    background: rgb(26,26,26);
    width: 100%;
    color: white;
    font-family: ch-thin;
    text-align: center;
}

footer li {
    list-style-type: none;
    display: inline;
    margin-right: 1rem;
    margin-left: 1rem;
}

#social-links {
    margin-bottom: 2.5rem /* since skeleton doesn't have margins for img only rows */
}

#social-links .flex-element {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    margin-left: 1rem;
}

#social-links .flex-element a img{
    height: 100%;
}

.social-link-overlay {
    position:absolute;
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.social-link:hover .social-link-overlay {
    opacity: 1;
}



/*
    Event-driven Classes
        Used by JS functions
*/
.default-nav {
    font-family: ch-thin;
    color: rgb(26,26,26); /* Eerie Black */
}

.active-nav {
    font-family: ch-book;
    color: rgb(5,47,95); /* Cool Black */
}

/*
    Structural Objects
*/
.close-button {
    font-family: ch-bold;
    font-size: 16px;
    color: rgb(26,26,26);
    float: right;
    padding-top: 2.5%;
    padding-right: 2.5%;
}

/*
    Debugging Classes
*/
.debug-bg-black {
    background-color: black;
    outline-color: red;
}

.debug-bg-blue {
    background-color: blue;
    outline-color: red;
}

.debug-bg-red {
    background-color: red;
    outline-color: red;
}



::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
