/*
 *  main.css
 *  Main style sheet for sfuco-site
 *  Reinier E.
 *  r.evangel@live.com
 *  2016-2017
*/

/*
    Global defaults
------------------------------------------------*/
/* Typography */
@font-face {
    font-family: CooperHewitt;
    src: url(fonts/CooperHewitt-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: CooperHewitt;
    src: url(fonts/CooperHewitt-Book.otf);
    font-weight: normal;
}

@font-face {
    font-family: CooperHewitt;
    src: url(fonts/CooperHewitt-Thin.otf);
    font-weight: 100;
}

html {
    overflow-x: hidden;
}

body, h1, h2, h3, h4, p, li, a {
    /* These are to overwrite the Skeleton css defaults */
    font-family: CooperHewitt, sans-serif;
    font-weight: normal;
    color: rgb(26,26,26);
}

a:hover {
    font-weight: normal;
}

/* Other defaults */
section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/*
    Site-specific rules:
        Organized in the same order as the DOM
------------------------------------------------*/
#navigation {
    padding: 0; /*Override bootstrap default padding since this should stretch the entire width*/
}

#horizontal-nav {
    position: relative;
    width: 100%;
}

#horizontal-nav li a {
    font-weight: normal;
    font-size: 16px;
}

@media screen and (max-width: 991px) { /* Horizontal nav changes to full at 992px (boostrap breakpoint)*/
    #horizontal-nav {
        background-color: rgb(26,26,26);
    }
}

#nav-toggle {
    cursor: pointer;
    display: block;
}

#nav-toggle-container {
    position: relative;
}

#nav-toggle {
    display: block;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3; /* Has to be above base (z=1) and the mobile nav menu (z=2)*/
    margin-top: 12px;
}

#nav-toggle span {
    background: white;
    display: block;
    width: 48px;
    height: 4px;
    margin: 4px 0;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.4s;
}

    /* Note: The following span rules
    are the transformations that occur when the mobile
    nav menu button is toggled */
#nav-toggle-container.open span:nth-child(1),
#nav-toggle-container.open span:nth-child(3),
#nav-toggle-container.open span:nth-child(5) {
    opacity: 0;
    width: 0;
}

#nav-toggle-container.open span:nth-child(2) {
    transform: rotate(45deg);
    top: 8px;
}

#nav-toggle-container.open span:nth-child(4) {
    transform: rotate(-45deg);
    top: -8px;
}

#mobile-nav-menu {
    width: 100vw;
    height: 100vh;
    z-index: 2; /* Has to be above base (z=1) but below nav toggle (z=3)*/
    background-color: rgb(26,26,26);
    position: fixed;
    top: 0;
    left: 0;
    margin: 0; /* For some reason, grid.less sets L-R margins to -15px */
    padding: 5px 15px 15px 0;
    transform: translateX(-110vw);
    transition-duration: 1s;
}

#mobile-nav-menu.open {
    transform: translateX(0);
    transition-duration: 1s;
}

#mobile-nav-menu .row:first-child {
    margin-bottom: 10vh;
}

#mobile-nav-menu .mobile-nav-menu-contents { /* Thiscontains the menu items (piano) */
    padding: 0;
}

#mobile-nav-menu ul {
    margin: 0;
    padding: 0;
}

#mobile-nav-menu li {
    display: block;
    text-align: center;
    list-style-type: none;
    line-height: 48px; /* So that we know how to size the black key */
    padding: 8px 0;
    background-color: white;
    position: relative;
    margin: 8px 0;
}

#mobile-nav-menu .black-key {
    background-color: rgb(26,26,26);
    width: 35%;
    height: 40px;
    position: absolute;
    top: 80%;
    right: 0;
    z-index: 3;
    box-shadow: 5px 5px 5px rgba(26,26,26,0.25);
}


.full-horizontal-nav ul {
    text-align: right;
    margin: 46px 0 0 12px;
}

.full-horizontal-nav li {
    display: inline;
    margin: 0 12px;
}

.logo-link {
    background-image: url("../img/logo.png");
    background-size: contain;
    width: 72px;
    height: 72px;
    display: block;
}


#vertical-nav {
    visibility: hidden;
    position: fixed;
    left: 1vw;
    top: 25vh;
}

#vertical-nav ul {
    padding: 0;
}

#vertical-nav li {
    display: block;
    clear: left;
    float: left;
    margin: 12px;
    vertical-align: left;
}

    /* Note: The styling for the vertical links is under
    Event Driven Classes so that it can work with the JS scripts */

@media screen and (min-width: 1400px) {
    #vertical-nav {
        visibility: visible;; /*1400 px is when the content
                          containers start overlapping with
                          the vertical nav*/
    }
}

/* Home */
#home {
    padding: 0; /* All other sections have padding top to make vertical nav smoother */
                /* This also makes the overlay actually cover the entire width */
    background-color: rgb(26,26,26);
}

#home .page-title h1 {
    color: white;
    font-size: 5rem;
}

.full-bg {
    position: relative;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: auto;
    max-width: 100vw;
}

.full-bg .overlay {
    background-color: rgba(26,26,26,0.5);
}

.full-bg .page-title {
    position: absolute;
    width: 45%;
    right: 0;
    bottom: 0;
    padding: 1.5rem 0 0 1.5rem;
    background-color: rgba(26,26,26,0.9);
    box-shadow: 5px 5px 5px rgba(26,26,26,0.25);
}

.mobile-bg {
    position: relative;
    background-color: rgb(26,26,26);
    background-size: cover;
    height: 40vh;
    width: auto;
    max-width: 100vw;
}

.mobile-bg .page-title {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    margin-right: 15px;
}

.mobile-bg .page-title h1 {
    margin: 0;
    font-size: 5rem;
}


/* About Section */
#about {
    /* Mystery: these should be BS defaults (as in the News section)
        but are being set to 0 somewhere */
    padding-left: 15px;
    padding-right: 15px;
}

#about p {
    font-family: 'EB Garamond', serif ;
    font-size: 16px;
}

#about h3 {
    display: block;
    font-weight: 100;
    text-align: center;
}

#about img {
    max-height: 100%;
    max-width: 100%;
    opacity: 0.9;
}

#about-mobile {
    overflow-x: hidden;
}


#about-full .row {
    height: 75vh;
    padding: 10vh 0;
    display: flex;
    align-items: baseline;
}

#about-full .about-vision-text{
    background-color: rgba(255,255,255,1);
    z-index: 2;
}

#about-full .about-vision-img {
    transform: translateX(-20%);
}

#about-full .about-history-text {
    display: block;
    background-color: rgba(255,255,255,1);
    z-index: 2;
}

#about-full .about-history-img {
    transform: translateX(10%);
}


/* Execs Section */
.image-container {
    height: 200px;
    width: 200px;
    
}

.image-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.exec-bio a span {
    display: none;
}

.exec-bio:hover span{
    font-weight: bold;
    color: white;
    display: block;
    font-size: 24px;
    position: absolute;
    left: 25px;
    top: 150px;
    z-index: 2;
}

.exec-bio:hover .hover-overlay {
    background-color: rgb(26,26,26);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

/* Exec Modal Overlay */
.exec-overlay .modal-overlay .container {
    overflow-y: hidden;
}

.exec-image-container {
    padding: 0; /* Reset Bootstrap padding*/
    margin-bottom: 12px;
}

.exec-image-container img {
    max-height: 50vh;
    max-width: 100%;
    height: auto;
}

.exec-overlay h3 {
    margin: 0; /* Reset margins */
    text-align: right;
    margin-bottom: 12px;
}

.exec-position {
    font-weight: 100;
    font-size: 24px;
    color: rgb(26,26,26);
    display: block;
    text-align: right;
    margin-bottom: 24px; /* Give space when small screen stacks*/
}

.exec-text {
    max-height: 50%;
    overflow: hidden;
}

.exec-description {
    height: 40vh; /* The overlay is set to 90vh. Given the exec image and close button
                    rows taking up roughly half the height (45vh), setting a height
                    of 40 gives some whitespace at the bottom for the text */
    overflow-y: auto;
}

.exec-description p {
    font-family: "EB Garamond", serif;
    font-size: 16px;
}

/* News */
.news-list ul {
    padding: 0;
}

.news-item {
    overflow: auto;
    margin: 12px 0;
}

.news-photo img {
    max-width: 100%;
    max-height: 400px; /* Double the height of flexbox photos */
}

.news-item li {
    list-style-type: none;
    padding: 0;
}

.news-title {
    margin-bottom: 12px;
}

.news-title h4{
    font-weight: bold;
}

.news-title h4 span {
    font-weight: 100;
    text-align: right;
}

/* Contact */
#contact-form .row {
    margin-bottom: 24px;
}

#contact-form img {
    width: 72px;
    height: 72px;
}

#contact-form label {
    display: block;
    font-weight: normal;
    font-size: 16px;
    text-align: right;
}

#contact-form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(26,26,26);
    border-radius: 0px;
    padding-bottom: 0px;
    outline: none;
}

#contact-form textarea {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(26,26,26);
}

#contact-form select {
    border: none;
    border-bottom: 1px solid rgb(26,26,26);
}

#contact-form input[type=submit] {
    font-weight: bold;
    border: 1px solid rgb(26,26,26);
    float: right;
    background-color: white;
}

#contact-form input[type=submit]:hover {
    color: white;
    background-color: rgb(26,26,26);
}

#error-text {
    color: red;
}

/* Footer */
footer {
    padding-top: 20px;
    background: rgb(26,26,26);
    width: 100%;
    text-align: center;
}

footer li, footer a, footer h1, footer span, footer p {
    color: white;
    font-weight: 100;
}

footer li {
    list-style-type: none;
    display: inline;
    margin-right: 1rem;
    margin-left: 1rem;
}

#social-links .flex-element {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    margin-left: 1rem;
}

#social-links .flex-element a img{
    width: 100%;
    height: 100%;
}

.social-link-overlay {
    position:absolute;
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.social-link:hover .social-link-overlay {
    opacity: 1;
}

/*
    Structural classes
------------------------------------------------*/
/* Components */
.down-triangle {
    background-image: url("../img/icons/downTriangle.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 10px;
    height: 10px;
}

/* Dropdown */
.dropdown-container {
    width: 100%;
}

.dropdown-container ul{
    padding: 15px; /* To match bootstrap's default row padding */
}

.dropdown-container h1 {
    margin: 0;
}

.dropdown-container li {
    list-style-type: none;
    display: inline-block;
    padding: 0 12px 0 0;
}

.dropdown-parent {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.dropdown-parent:hover > .dropdown-submenu {
    opacity: 1;
}

.dropdown-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(26,26,26,0.9);
    opacity: 0;
    transition:opacity linear 0.15s;
    padding: 5px 0;
}

.dropdown-submenu ul {
    padding: 0;
    text-align: center;
}

.dropdown-submenu li {
    display: block;
}

.dropdown-submenu li a{
    color: white;
    font-size: 24px; /* Based on h1 size of 36px */
}


/* Flex Container */
.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-element {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px;
}

/* Loading Screen */
.loading-screen {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/animations/logo_animation.gif') 50% 50% no-repeat rgb(249,249,249);
}

/* Modal Overlay (Lightbox) */
.modal-overlay {
    background-color: rgba(26,26,26,0.9);
    display: none;
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.modal-overlay:target {
    display: block;
}

.modal-overlay > .container {
    width: 50vw;
    height: 90vh;
    z-index: 3;
    background-color: white;
    margin-top: 2.5%;
    position: relative; /* Important for positioning floating elements within the overlay */
    overflow-y: auto;
}

.modal-overlay > .container .row {
    padding: 0 2.5%;
    overflow: hidden;
}

/* Note: Make modal box fullscreen for less than large devices*/
/* 991px is the BS limit for medium screens */
@media screen and (max-width: 991px) {
    .modal-overlay > .container {
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: white;
        margin-top: 0;
    }
}

.close-button {
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    color: rgb(26,26,26);
    padding-top: 5%;
    padding-right: 5%;
}

.overlay {
    width: 100%;
    height: 100%;
}

/* Note: Can't use a generalized .nav-wrapper and :nth-child()s here
    since the templating messes up the :nth-child() order if one side
    gets eliminated by the logic (i.e. the first page doesn't get a
    prev button) */
.nav-wrapper-prev {
    position: absolute;
    height: 50%;
    width: 10%;
    top: 25%;
    left: 0;
}

.nav-wrapper-prev:hover .prev-button {
    opacity: 1;
}

.nav-wrapper-next {
    position: absolute;
    height: 50%;
    width: 10%;
    top: 25%;
    right: 0;
}

.nav-wrapper-next:hover .next-button {
    opacity: 1;
}

.prev-button {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(26,26,26,0.5);
    box-shadow: 5px 5px 5px rgba(26,26,26,0.9);
    text-align: center;
    opacity: 0;
    transition:opacity linear 0.15s;
}

.next-button {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-color: rgba(26,26,26,0.5);
    box-shadow: 5px 5px 5px rgba(26,26,26,0.9);
    text-align: center;
    opacity: 0;
    transition:opacity linear 0.15s;
}

.nav-buttons a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.prev-button a {
    right: 50%;
}

.next-button a {
    left: 50%;
}
/*
    Event-driven Classes
        Used by JS functions
------------------------------------------------*/
.default-nav {
    font-weight: 100;
    font-size: 18px;
    color: rgb(26,26,26); /* Eerie Black */
}

.active-nav {
    font-weight: bold;
    color: rgb(5,47,95); /* Cool Black */
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
