/*
 *  main.css
 *  Main style sheet for sfuco-site
 *  Reinier E.
 *  r.evangel@live.com
 *  2016-2017
*/

/*
    Global defaults
------------------------------------------------*/
/* Typography */
@font-face {
    font-family: CooperHewitt;
    src: url(fonts/CooperHewitt-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: CooperHewitt;
    src: url(fonts/CooperHewitt-Book.otf);
    font-weight: normal;
}

@font-face {
    font-family: CooperHewitt;
    src: url(fonts/CooperHewitt-Thin.otf);
    font-weight: 100;
}

body, h1, h2, h3, h4, p, li, a {
    /* These are to overwrite the Skeleton css defaults */
    font-family: CooperHewitt, sans-serif;
    font-weight: normal;
    color: rgb(26,26,26);
}

li, a {
    font-weight: 100;
    text-decoration: none;
}

a:hover {
    font-weight: normal;
}

/* Other defaults */
section {
    padding-top: 10vh;
}

.page-title {
    padding-bottom: 1.5rem;
}

/*
    Site-specific rules:
        Organized in the same order as the DOM
------------------------------------------------*/
/* Navigation */
#navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    z-index: 100;
    background-color: white;
}

nav li {
    list-style-type: none;
}

#vertical-nav ul {
    position: fixed;
    left: 12px;
    top: 25vh;
}

#vertical-nav li {
    display: block;
    clear: left;
    float: left;
    margin: 12px;
    vertical-align: left;
}

#horizontal-nav {
    position: relative;
    height: 72px;
    width: auto;
}

#horizontal-nav div {
    height: 100%;
}

#horizontal-nav img {
    /* The nav logo */
    height: 100%;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

#horizontal-nav ul {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    text-align: right;
    padding-bottom: 24px;
}

#horizontal-nav li {
    display: inline;
    padding: 0px 12px;
}

/* Home */
#home {
    padding-top: 0; /* All other sections have padding top to make vertical nav smoother*/
    position: relative;
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: auto;
    max-width: 100vw;
}

#home  > .overlay {
    background-color: rgba(26,26,26,0.8);
}

#home .page-title {
    background-color: rgba(26,26,26, 0.95);
    position: absolute;
    width: 45%;
    top: 60vh;
    right: 0;
    padding: 1.5rem 0 0 1.5rem;
}

#home .page-title h1 {
    color: white;
}

/* Execs */
.exec-bio img {
    height: 200px;
    width: 200px;
}

.exec-bio a span {
    display: none;
}

.exec-bio:hover span{
    font-weight: bold;
    color: white;
    display: block;
    font-size: 24px;
    position: absolute;
    left: 25px;
    top: 150px;
    z-index: 2;
}

.exec-bio:hover .hover-overlay {
    background-color: rgb(26,26,26);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

#exec-detail-image {
    max-height: 50vh;
    max-width: 100%;
    height: auto;
}

#exec-detail-text {
    padding: 12px;
}

#exec-description {
    max-height: 25vh;
    overflow-y: auto;
}

#exec-name h3 {
    font-weight: bold;
    text-align: right;
}

#exec-name span {
    font-weight: 100;
    font-size: 24px;
    color: rgb(26,26,26);
    display: block;
    line-height: 10px;
    text-align: right;
}

/* News */
.news-item li{
    list-style-type: none;
}

.news-item h2 {
    font-size: 3.0rem;
}

.news-item h2 a{
    font-weight: bold;
}

.news-item h2 span {
    font-weight: 100;
}

/* Contact */
#contact-form-overlay .modal-box{
    display: block;
    width: 100%;
    height: 80%;
    padding: 50px 100px;
    overflow: scroll;
}

#contact-logo {
    width: 100%;
    height: auto;
}

#letterhead h3, #letterhead h4 {
    font-size: 100%;
}

#contact-form-body form span {
    font-family: EB Garamond;
    font-size: 16px;
    margin-right: 10px;
}

#contact-form-body input[name=subject] {
    width: 15vw;
}

#contact-form-body input {
    border: none;
    border-bottom: 1px solid rgb(26,26,26);
    border-radius: 0px;
    padding-bottom: 0px;
    width: 10vw;
}

#contact-form-body input:focus {
    border-bottom: 1px solid rgb(81, 203, 238);
}

#contact-form-body input[type=submit] {
    font-family: ch-bold;
    border: 1px solid rgb(26,26,26);
    float: right;
}

#contact-form-body input[type=submit]:hover {
    color: white;
    background-color: rgb(26,26,26);
}

#contact-form-body select {
    padding: 0px;
    margin: 0px;
    border: none;
    border-top: 1px solid rgb(26,26,26);
    border-bottom: 1px solid rgb(26,26,26);
    border-radius: 0px;
}

#error-text {
    font-family: ch-book;
    color: rgb(230, 25, 25);
}

/* Footer */
footer {
    padding-top: 20px;
    background: rgb(26,26,26);
    width: 100%;
    text-align: center;
}

footer li, footer a, footer h1, footer span, footer p {
    color: white;
    font-weight: 100;
}

footer li {
    list-style-type: none;
    display: inline;
    margin-right: 1rem;
    margin-left: 1rem;
}

#social-links .flex-element {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    margin-left: 1rem;
}

#social-links .flex-element a img{
    width: 100%;
    height: 100%;
}

.social-link-overlay {
    position:absolute;
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.social-link:hover .social-link-overlay {
    opacity: 1;
}

/*
    Utility classes
------------------------------------------------*/
/* Structural */

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-element {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.modal-overlay {
    background-color: rgba(26,26,26,0.9);
    display: none;
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.modal-overlay:target {
    display: block;
}

.modal-box {
    background-color: rgba(255,255,255,1);
    width: 50%;
    margin-top: 5vh;
    margin-left: auto;
}

.close-button {
    font-weight: bold;
    font-size: 16px;
    color: rgb(26,26,26);
    float: right;
    padding-top: 2.5%;
    padding-right: 2.5%;
}

.overlay {
    width: 100%;
    height: 100%;
}

.loading-screen {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/animations/logo_animation.gif') 50% 50% no-repeat rgb(249,249,249);
}

/* Styling */
.bg-black {
    background-color: black;
}

.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}

.bg-white {
    background-color: white;
}

/*
    Event-driven Classes
        Used by JS functions
------------------------------------------------*/
.default-nav {
    font-weight: 100;
    color: rgb(26,26,26); /* Eerie Black */
}

.active-nav {
    font-weight: normal;
    color: rgb(5,47,95); /* Cool Black */
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
