/* Colors */
/* 'Eerie Black' */
#about {
  padding-top: 80px; }
  #about h3 {
    text-align: center;
    font-weight: 100; }
  #about p {
    font-family: 'EB Garamond', serif;
    font-size: 14px; }
  #about img {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.9; }
  #about .pop-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }

#about-mobile h1, #about-mobile h2, #about-mobile p {
  color: #1a1a1a; }

#about-mobile h2 {
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 3;
  font-size: 56px;
  background-color: #1a1a1a;
  color: white; }

#about-mobile img {
  margin-bottom: 12px;
  opacity: 0.75; }

#about-full .pop-box:nth-child(1) {
  -webkit-animation: fadeIn 3s, slideLeftRight 1s;
  animation: fadeIn 3s, slideLeftRight 1s; }

#about-full .pop-box:nth-child(2) {
  -webkit-animation: fadeIn 3s, slideRightLeft 1s;
  animation: fadeIn 3s, slideRightLeft 1s; }

#about-full img {
  -webkit-animation: fadeIn 3s;
  animation: fadeIn 3s; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes slideLeftRight {
  0% {
    -webkit-transform: translateX(-50vw);
    transform: translateX(-50vw); }
  100% {
    -webkit-transform: translateX(0vw);
    transform: translateX(0vw); } }

@keyframes slideLeftRight {
  0% {
    -webkit-transform: translateX(-50vw);
    transform: translateX(-50vw); }
  100% {
    -webkit-transform: translateX(0vw);
    transform: translateX(0vw); } }

@-webkit-keyframes slideRightLeft {
  0% {
    -webkit-transform: translateX(50vw);
    transform: translateX(50vw); }
  100% {
    -webkit-transform: translateX(0vw);
    transform: translateX(0vw); } }

@keyframes slideRightLeft {
  0% {
    -webkit-transform: translateX(50vw);
    transform: translateX(50vw); }
  100% {
    -webkit-transform: translateX(0vw);
    transform: translateX(0vw); } }

/* Colors */
/* 'Eerie Black' */

/* Colors */
/* 'Eerie Black' */
.down-triangle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("../img/icons/downTriangle.png");
  background-size: contain;
  background-repeat: no-repeat; }

.dropdown-container {
  width: 100%; }
  .dropdown-container ul {
    padding: 15px;
    /* To match bootstrap's default row padding */ }
  .dropdown-container h1 {
    margin: 0; }
  .dropdown-container li {
    display: inline-block;
    padding: 0 12px 0 0;
    list-style-type: none; }

.dropdown-parent {
  position: relative;
  display: inline-block;
  z-index: 1; }
  .dropdown-parent:hover > .dropdown-submenu {
    opacity: 1; }

.dropdown-submenu {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px 0;
  background-color: rgba(26, 26, 26, 0.9);
  opacity: 0;
  transition: opacity linear 0.15s; }
  .dropdown-submenu ul {
    padding: 0;
    text-align: center; }
  .dropdown-submenu li {
    display: block; }
    .dropdown-submenu li a {
      color: white;
      font-size: 24px;
      /* Based on h1 size of 36px */ }

.flex-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center; }

.flex-element {
  max-width: 200px;
  max-height: 200px;
  margin: 3px;
  position: relative; }

.image-container {
  width: 100%;
  height: 100%; }
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  z-index: 2;
  opacity: 0.7;
  background-color: #1a1a1a; }

.modal-overlay {
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 3;
  background-color: rgba(26, 26, 26, 0.9); }
  .modal-overlay:target {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
  .modal-overlay .container {
    width: 50vw;
    height: 80vh;
    position: relative;
    z-index: 3;
    background-color: white; }
  @media screen and (max-width: 991px) {
    .modal-overlay .container {
      width: 100%;
      height: 100%; } }

.modal-image-container {
  padding: 0;
  margin-bottom: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center; }
  .modal-image-container img {
    max-width: 100%;
    max-height: 25vh;
    height: auto; }

.close-button {
  display: block;
  float: right;
  padding-top: 0;
  margin-bottom: 12px;
  text-align: right;
  font-weight: bold;
  font-size: 16px;
  border-style: none;
  background-color: #1a1a1a;
  color: white; }

.close-button:hover {
  font-weight: bold;
  background-color: #d8553e;
  color: white;
  transition: background-color 1s, color 0.2s; }

.nav-button {
  width: 36px;
  height: 25%;
  position: absolute;
  top: 45%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(26, 26, 26, 0.8); }
  .nav-button a {
    font-size: 24px;
    border-style: none;
    color: white; }
  .nav-button a:hover {
    text-decoration: none;
    font-weight: bold; }

.modal-overlay > .container:hover .nav-button {
  opacity: 1; }

.nav-button:nth-of-type(1) {
  left: 0; }

.nav-button:nth-of-type(2) {
  right: 0; }

.scroll-lock {
  overflow: hidden; }

.pop-box {
  z-index: 2;
  background-color: white;
  box-shadow: 0 0 15px rgba(26, 26, 26, 0.5); }

.img-overlay {
  position: absolute;
  opacity: 0;
  transition: opacity .05s ease-in; }

.img-overlay-container:hover .img-overlay {
  opacity: 1;
  transition: opacity .25s ease-out; }

.full-margins {
  margin-bottom: 150px; }

.mobile-margins {
  margin-bottom: 24px; }

/* Colors */
/* 'Eerie Black' */
#contact {
  min-height: 80vh;
  padding-top: 60px;
  margin-bottom: 24px;
  overflow: auto; }
  #contact h1, #contact h2, #contact h3, #contact h4, #contact p, #contact span, #contact label {
    color: #1a1a1a; }
  #contact h1 {
    text-align: center;
    letter-spacing: 2px; }
  #contact b {
    color: #1a1a1a; }
  #contact hr {
    border-color: rgba(26, 26, 26, 0.3); }
  #contact label {
    color: rgba(26, 26, 26, 0.6);
    padding-right: 12px; }
  #contact input {
    width: 100%;
    color: #1a1a1a;
    background-color: white;
    padding-bottom: 0px;
    border: none;
    border-bottom: 1px solid #1a1a1a;
    border-radius: 0px;
    outline: none; }
  #contact input[type=submit] {
    float: right;
    font-weight: bold;
    border: 1px solid #1a1a1a;
    background-color: white; }
    #contact input[type=submit]:hover {
      color: white;
      background-color: #1a1a1a; }
  #contact textarea {
    width: 100%;
    border: none;
    color: #1a1a1a;
    background-color: white;
    border-bottom: 1px solid #1a1a1a;
    outline: none; }
  #contact #error-text {
    color: #d8553e; }
  #contact #send-button {
    width: 100px; }

/* Colors */
/* 'Eerie Black' */
#execs .modal-overlay h3 {
  text-align: right; }

#execs .modal-overlay span {
  position: relative;
  display: block;
  margin-bottom: 24px;
  text-align: right;
  font-weight: 100;
  font-size: 18px;
  color: #1a1a1a; }

#execs .modal-overlay p {
  font-family: 'EB Garamond', sans-serif;
  font-size: 16px; }

#execs .modal-overlay .col-8 .row:nth-child(2) {
  max-height: 75vh;
  overflow-y: auto; }

#execs .modal-image-container {
  -ms-flex-pack: end;
  justify-content: flex-end; }

#execs #exec-modal-mobile {
  height: 100vh;
  padding-top: 80px;
  overflow-x: hidden;
  overflow-y: auto; }
  #execs #exec-modal-mobile span {
    line-height: 12px; }
  #execs #exec-modal-mobile img {
    width: 100%; }

#execs-content .flex-element:hover span {
  opacity: 1; }

#execs-content .flex-element:hover .hover-overlay {
  display: block; }

#execs-content span {
  position: absolute;
  top: 150px;
  left: 25px;
  display: block;
  z-index: 3;
  color: white;
  opacity: 0;
  font-size: 24px;
  font-weight: bold; }

@media screen and (max-width: 991px) {
  .flex-element {
    max-width: 100px;
    max-height: 100px;
    margin: 1px; }
  #execs-content span {
    display: none; }
  #execs-content .flex-element:hover .hover-overlay {
    display: none; } }

/* Colors */
/* 'Eerie Black' */
footer {
  min-height: 25vh;
  padding-top: 24px;
  background-color: #1a1a1a; }
  footer h4, footer p, footer a, footer span {
    color: white; }
  footer h4 {
    font-size: 18px; }
  footer p {
    padding: 0;
    margin: 0; }
  footer a {
    font-size: 14px; }
  footer span {
    font-size: 8px; }
  footer ul {
    padding: 0; }
  footer li {
    list-style-type: none; }
  footer .img-overlay-container > img {
    width: 24px;
    height: 24px; }
  footer img {
    width: 64px;
    height: 64px; }

#social-links ul {
  display: -ms-flexbox;
  display: flex; }

#social-links li {
  padding: 0 5px; }

/* Colors */
/* 'Eerie Black' */
@font-face {
  font-family: CooperHewitt;
  src: url(fonts/CooperHewitt-Bold.otf);
  font-weight: bold; }

@font-face {
  font-family: CooperHewitt;
  src: url(fonts/CooperHewitt-Book.otf);
  font-weight: normal; }

@font-face {
  font-family: CooperHewitt;
  src: url(fonts/CooperHewitt-Thin.otf);
  font-weight: 100; }

body {
  font-family: 'Montserrat', sans-serif;
  color: #1a1a1a; }
  body p {
    font-size: 12px; }

header h1 {
  font-weight: 100;
  color: white; }

header div {
  background-color: #1a1a1a;
  background-image: url("../img/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

div .hidden-sm-down {
  min-height: 85vh; }
  div .hidden-sm-down h1 {
    position: absolute;
    right: 5vw;
    bottom: 0;
    font-size: 60px; }

div .hidden-md-up {
  min-height: 45vh; }
  div .hidden-md-up h1 {
    position: absolute;
    right: 5vw;
    bottom: 0;
    font-size: 24px; }

/* Colors */
/* 'Eerie Black' */
@font-face {
  font-family: CooperHewitt;
  src: url(fonts/CooperHewitt-Bold.otf);
  font-weight: bold; }

@font-face {
  font-family: CooperHewitt;
  src: url(fonts/CooperHewitt-Book.otf);
  font-weight: normal; }

@font-face {
  font-family: CooperHewitt;
  src: url(fonts/CooperHewitt-Thin.otf);
  font-weight: 100; }

nav {
  z-index: 10; }

.logo {
  height: 100%;
  display: block;
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat; }

.menu {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .menu ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end; }
  .menu li {
    list-style-type: none;
    letter-spacing: 2px; }
  .menu li a {
    padding: 0 12px;
    font-size: 12px;
    color: #1a1a1a; }

#nav-full .row {
  height: 55px; }

#nav-full .dropdown-container {
  padding: 0 12px; }
  #nav-full .dropdown-container a {
    padding: 0; }

#nav-full .down-triangle {
  max-width: 8px;
  max-height: 8px;
  background-size: contain; }

#nav-full .dropdown-submenu {
  min-width: 100px;
  padding-left: 2px;
  position: absolute;
  background-color: #1a1a1a; }
  #nav-full .dropdown-submenu ul {
    display: block;
    text-align: left;
    padding-left: 6px; }
  #nav-full .dropdown-submenu a {
    font-size: 12px;
    color: white; }

#nav-mobile {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 55px;
  background-color: #1a1a1a;
  /*
  .nav-menu .logo {
    width: 55px;
    height: 55px;
    float: right;
    margin: 5%;
    transform: translateX(20vw);
    transition: transform .9s ease-in-out;
  }
  .nav-menu .logo.is-active {
    transform: translateX(0);
  }
  @media (max-height: 600px) { // hide bottom elements when screen too short
    .nav-menu .logo, .nav-menu hr {
      display: none;
    }
  }
  */ }
  #nav-mobile hr {
    width: 50%;
    position: absolute;
    right: 5%;
    border-color: white; }
  #nav-mobile .container-fluid:nth-child(1) {
    z-index: 5;
    height: 55px; }
  #nav-mobile .container-fluid:nth-child(1) .logo {
    height: 55px;
    width: 55px;
    margin-left: 24px;
    transition: -webkit-transform .9s;
    transition: transform .9s; }
  #nav-mobile .container-fluid:nth-child(1) .logo.is-active {
    -webkit-transform: translateX(-50vw);
    transform: translateX(-50vw); }
  #nav-mobile .nav-trigger-wrapper {
    height: 100%;
    width: 100%;
    background-color: red; }
  #nav-mobile .nav-trigger {
    height: 100%;
    width: 25px;
    position: absolute;
    top: 0;
    right: 10%; }
  #nav-mobile .trigger-icon {
    width: 100%;
    height: 5%;
    background-color: white;
    position: absolute; }
  #nav-mobile .trigger-icon:nth-child(1) {
    top: 35%; }
  #nav-mobile .trigger-icon:nth-child(2) {
    top: 50%;
    transition: background-color 0.3s; }
  #nav-mobile .trigger-icon:nth-child(3) {
    top: 65%; }
  #nav-mobile .trigger-icon:nth-child(1), #nav-mobile .trigger-icon:nth-child(3) {
    transition: -webkit-transform .3s, top .3s, height .3s;
    transition: transform .3s, top .3s, height .3s; }
  #nav-mobile .trigger-icon.is-active:nth-child(2) {
    background-color: rgba(255, 255, 255, 0); }
  #nav-mobile .trigger-icon.is-active:nth-child(1) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 50%;
    height: 15%; }
  #nav-mobile .trigger-icon.is-active:nth-child(3) {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    top: 50%;
    height: 15%; }
  #nav-mobile .nav-menu {
    background-color: #1a1a1a;
    min-width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-top: 25vh;
    overflow-y: auto;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: -webkit-transform .75s ease-in-out;
    transition: transform .75s ease-in-out; }
    #nav-mobile .nav-menu ul {
      list-style-type: none;
      text-align: right;
      padding-right: 48px; }
    #nav-mobile .nav-menu li a {
      color: white;
      font-size: 2.5rem; }
    #nav-mobile .nav-menu ul ul {
      padding-right: 24px; }
    #nav-mobile .nav-menu ul ul li a {
      font-size: 1.75rem;
      font-weight: 100; }
  #nav-mobile .nav-menu.is-active {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

#vertical-nav {
  position: fixed;
  left: 1vw;
  top: 25vh; }
  #vertical-nav ul {
    padding: 0; }
  #vertical-nav li {
    display: block;
    clear: left;
    float: left;
    margin: 12px;
    vertical-align: left; }
  #vertical-nav a {
    color: #1a1a1a; }
  #vertical-nav .active-nav {
    color: white;
    background-color: rgba(26, 26, 26, 0.8); }
  @media screen and (min-width: 1400px) {
    #vertical-nav {
      visibility: visible;
      /*1400 px is when the content
                           containers start overlapping with
                           the vertical nav*/ } }

/* Colors */
/* 'Eerie Black' */
#news {
  padding-top: 80px; }
  #news a {
    color: #1a1a1a; }
  #news h1 {
    margin-bottom: 48px; }
  #news .news-list ul {
    padding: 0;
    list-style-type: none; }
  #news .news-item li {
    padding: 0;
    list-style-type: none; }
  #news .news-item h2 {
    font-weight: bold; }
  #news .news-item span {
    font-weight: 400; }
  #news .news-content {
    margin-top: 16px; }

#news-full .news-item {
  margin: 12px 0;
  overflow: auto; }

#news-full .news-photo {
  width: 100px;
  height: 100px; }
  #news-full .news-photo img {
    width: 100%;
    height: 100%; }

#news-full .news-item .col-md-10 {
  padding-left: 48px; }

#news-mobile h2, #news-mobile span, #news-mobile p {
  color: white; }

#news-mobile span {
  font-size: 0.8rem; }

#news-mobile h2 {
  font-size: 2rem;
  text-shadow: 2px 2px #1a1a1a; }

#news-mobile li {
  margin: 10px 0; }

#news-mobile .news-item {
  height: 100px;
  position: relative;
  padding: 5px 5px 5px 0;
  overflow-y: hidden;
  box-shadow: 5px 5px 1px rgba(26, 26, 26, 0.25);
  background-color: #1a1a1a; }

#news-mobile .news-item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  opacity: 0.3; }

#latest-news .flex-container a {
  color: #1a1a1a;
  text-decoration: none; }

#latest-news .flex-container a > div {
  width: 250px;
  height: 300px;
  margin: 5px; }

#latest-news .flex-container a > div div:nth-child(1) {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100px; }

#latest-news .flex-container a > div div:nth-child(2) {
  padding: 5px; }

#latest-news .flex-container a:hover span {
  text-decoration: underline; }

#latest-news .flex-container a > div div:nth-child(3) {
  padding: 0 5px; }

#latest-news .flex-container a > div div:nth-child(4) {
  padding: 0 5px; }

#latest-news .flex-container img {
  width: 100%;
  max-height: 100%;
  object-fit: cover; }

/* Colors */
/* 'Eerie Black' */
.post {
  min-height: 100vh;
  padding-top: 36px; }
  .post h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; }
  .post h2 {
    font-size: 22px; }
  .post h3 {
    font-size: 18px; }
  .post h4 {
    font-size: 14px; }
  .post span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100; }
  .post p, .post li {
    font-family: 'EB Garamond', serif;
    font-size: 16px; }
  .post .container-fluid {
    max-height: 45vh;
    overflow: hidden; }
  .post .container-fluid div {
    height: 45vh;
    max-height: 45vh;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat; }
  .post .container {
    margin-top: 24px; }

@font-face {
  font-family: CooperHewitt;
  src: url(fonts/CooperHewitt-Bold.otf);
  font-weight: bold; }

@font-face {
  font-family: CooperHewitt;
  src: url(fonts/CooperHewitt-Book.otf);
  font-weight: normal; }

@font-face {
  font-family: CooperHewitt;
  src: url(fonts/CooperHewitt-Thin.otf);
  font-weight: 100; }

/* Colors */
/* 'Eerie Black' */
#under-construction {
  padding-top: 25vh; }
  #under-construction span {
    font-family: 'EB Garamond', sans-serif;
    font-size: 20px; }
  #under-construction .row > div {
    width: 50%;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center; }
