---
name: execs
category: main
order: 3
onHomePage: true
permalink: /#execs
---

<div class="container full-margins">
  <!-- Page Title -->
  <div class="dropdown-container">
    <ul>
      <li class="dropdown-parent">
        <h1>
          current
          <div class="down-triangle"></div>
        </h1>
        <div class="dropdown-submenu">
          <ul>
            {% assign sections = site.sections | where: "name", "exec archive" %}
            {% for section in sections %}
            <li><a href="{{section.permalink}}">past</a></li>
            {% endfor %}
          </ul>
        </div>
      </li>
      <li><h1><b>execs</b></h1></li>
    </ul>
  </div>
  <!-- Exec Thumbnail Gallery -->
  <div id="execs-content">
    <div class="flex-container">
      {% assign sortedExecs = site.execs | sort: 'order' %}
      {% for exec in sortedExecs %}
        {% if exec.status == 'active' %}
          <div class="flex-element">
            <a href="#{{exec.firstName}}"> <!-- To make image clickable, wrap in <a> -->
              <span id="me">{{exec.firstName}}</span>
              <div class="image-container">
                <div class="hover-overlay"></div>
                <img src="{{site.baseurl}}/img/exec-photos/{{exec.image}}" alt="exec-image"/>
              </div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <!-- Exec detail modal windows -->
  {% assign activeExecs = site.execs | where: "status", "active" %}
  {% assign sortedExecs = activeExecs | sort: 'order' %}
  {% for exec in sortedExecs %}
    <div id="{{exec.firstName}}" class="modal-overlay">
      <div class="container"> <!-- The actual modal window -->

        <div class="row">
          <div class="col-4"> <!-- The left hand column (img, name, and position) -->
            <div class="row">
              <div class="col-12">
                <div class="modal-image-container">
                  <img src="{{site.baseurl}}/img/exec-photos/{{exec.image}}" alt="exec-image"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h3><b>{{exec.title}}</b></h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <span>{{exec.position}}</span>
              </div>
            </div>
          </div>
          <div class="col-8"> <!-- The right hand column (close button, detail paragraphs) -->
            <div class="row">
              <div class="col-1 offset-11">
                <button class="close-button">X</button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                {{exec.content | markdownify}}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  {% endfor %}
</div>
