---
name: execs
order: 3
onHomePage: true
permalink: /home/#execs
---

<div class="container">
  <!-- Page Title -->
  <div class="dropdown-container">
    <ul>
      <li class="dropdown-parent">
        <h1>
          current
          <div class="down-triangle"></div>
        </h1>
        <div class="dropdown-submenu">
          <ul>
            <li><a href="">past</a></li>
          </ul>
        </div>
      </li>
      <li><h1><b>execs</b></h1></li>
    </ul>
  </div>
  <!-- Exec Thumbnail Gallery -->
  <div id="execs-content">
    <div class="flex-container">
      {% assign sortedExecs = site.execs | sort: 'order' %}
      {% for exec in sortedExecs %}
        {% if exec.status == 'active' %}
          <div class="flex-element">
            <a href="#{{exec.firstName}}"> <!-- To make image clickable, wrap in <a> -->
              <span id="me">{{exec.firstName}}</span>
              <div class="image-container">
                <div class="hover-overlay"></div>
                <img src="{{site.baseurl}}/img/exec-photos/{{exec.image}}" alt="exec-image"/>
              </div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <!-- Exec detail modal windows -->
  {% assign activeExecs = site.execs | where: "status", "active" %}
  {% assign sortedExecs = activeExecs | sort: 'order' %}
  {% for exec in sortedExecs %}
    <div id="{{exec.firstName}}" class="modal-overlay">
      <div class="container"> <!-- The actual modal window -->
        <div class="row"> <!-- 1. Close button row -->
          <div class="col-sm-1 offset-11">
            <button class="close-button">X</button>
          </div>
        </div>
        <div class="row"><!-- 2. Image row -->
          <div class="col-md-8 offset-md-4">
            <div class="modal-image-container">
              <img src="{{site.baseurl}}/img/exec-photos/{{exec.image}}" alt="exec-image"/>
            </div>
          </div>
        </div>
        <div class="row"><!-- 3. Text row -->
          <div class="col-md-4"><!-- 3a. Exec Info -->
            <div class="row">
              <div class="col-md-12">
                <h3><b>{{exec.title}}</b></h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span>{{exec.position}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-8"><!-- 3b. Exec details -->
            {{exec.content | markdownify}}
          </div>
        </div>
        <div> <!-- Nav Buttons -->
          {% unless forloop.first %} <!-- if not the first exec -->
            <div class="nav-button">
              <a class="prev-button" href=""><</a>
            </div>
          {% else %}
            <!-- A hacky way of fixing the issue where the next button
            collapses onto the left side. This is because of the css
            rules targeting the .nav-buttons by nth-of-type. So for the
            first exec, since there's no prev button, the next button
            becomes the first .nav-button and takes on the prev button
            styling. Here, we add an invisible dummy to prevent that -->
            <div class="nav-button" style="opacity: 0"></div>
          {% endunless %}
          {% unless forloop.last %} <!-- if != the last exec -->
            <div class="nav-button">
              <a class="next-button" href="">></a>
            </div>
          {% endunless %}
          </div>
      </div>
    </div>
  {% endfor %}
</div>
