---
name: about

category: page
layout: default
order: 2
permalink: /about/
subsections:
  - {name: 'about us', permalink: 'about/#about'}
  - {name: 'execs', permalink: 'about/#execs'}
---

<section id="about">
  <!-- Full layout -->
  <div id="about-full" class="container hidden-sm-down full-margins">
    <!-- Title -->
    <div class="row">
      <div class="page-title col-md-4">
        <h1>about <b>us</b></h1>
      </div>
    </div>
    <div class="row">
      <div class="pop-box col-md-5">
        <div>
          <h2><b>vision :</b></h2>
          <h3> Every Monday, from 4:30 to 7:30 in the Forum Chambers on Burnaby campus, </h3>
          <p>
             the sounds of an orchestra can be heard rehearsing. The SFU Concert Orchestra is comprised of student musicians and community members that have played in concert bands, wind ensembles, and other orchestras, and now come together for the love of music. All our rehearsal schedules, concert plans, and repertoire choices are chosen and organized by students who wish to see the music community at SFU thrive and grow.
          </p>
          <p>
             We hold concerts once a semester in the fall and spring, and plan a variety of outings such as karaoke throughout the year. Our repertoire includes everything from classical, world music, movie soundtracks, and original compositions. Our goal is to continue growing and pushing ourselves as musicians, and to share the joy of ensemble playing with the SFU community.
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <img src="{{site.baseurl}}/img/about-photos/about1.jpg" alt="about-image" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <img src="{{site.baseurl}}/img/about-photos/about2.jpg" alt="about-image" />
      </div>
      <div class="pop-box col-md-5">
        <div >
          <h2><b>history : </b></h2>
          <p>
            The Simon Fraser University Concert Orchestra, formally known as the SFU Chamber Orchestra, was founded in 2007 by Jerry Yon to provide an enjoyable, musical atmosphere that was severely lacking on campus at the time. Since the ensemble was formed, it has steadily grown each year in both musicians and audience members. In 2014 it was decided to formally change the ensemble name to Concert Orchestra due to an influx of musicians and an increasing variety of instruments. SFUCO is made up of students attending Simon Fraser University as well as members of the community. They promote a comfortable, entertaining atmosphere where people can come together and share their passion for music. Membership is open to all levels of musicians and  anyone who would like to experience the love for good music.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile layout -->
  <div id="about-mobile" class="container-fluid hidden-md-up">
    <div class="row">
      <div class="page-title col-md-4">
        <h1>about <b>us</b></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2><b>vision :</b></h2>
        <img src="{{site.baseurl}}/img/about-photos/about1.jpg" alt="about-image" />
      </div>
      <div class="col-12">
        <p>
           <b>Every Monday, from 4:30 to 7:30 in the Forum Chambers on Burnaby campus</b>,
           the sounds of an orchestra can be heard rehearsing. The SFU Concert Orchestra is comprised of student musicians and community members that have played in concert bands, wind ensembles, and other orchestras, and now come together for the love of music. All our rehearsal schedules, concert plans, and repertoire choices are chosen and organized by students who wish to see the music community at SFU thrive and grow.
        </p>
        <p>
           We hold concerts once a semester in the fall and spring, and plan a variety of outings such as karaoke throughout the year. Our repertoire includes everything from classical, world music, movie soundtracks, and original compositions. Our goal is to continue growing and pushing ourselves as musicians, and to share the joy of ensemble playing with the SFU community.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2><b>history : </b></h2>
        <img src="{{site.baseurl}}/img/about-photos/about2.jpg" alt="about-image" />
      </div>
      <div class="col-12">
        <p>
          The Simon Fraser University Concert Orchestra, formally known as the SFU Chamber Orchestra, was founded in 2007 by Jerry Yon to provide an enjoyable, musical atmosphere that was severely lacking on campus at the time. Since the ensemble was formed, it has steadily grown each year in both musicians and audience members. In 2014 it was decided to formally change the ensemble name to Concert Orchestra due to an influx of musicians and an increasing variety of instruments. SFUCO is made up of students attending Simon Fraser University as well as members of the community. They promote a comfortable, entertaining atmosphere where people can come together and share their passion for music. Membership is open to all levels of musicians and  anyone who would like to experience the love for good music.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="execs">
  <div class="container full-margins">
    <!-- Page Title -->
    <div class="dropdown-container">
      <ul>
        <li class="dropdown-parent">
          <h1>
            current
            <div class="down-triangle"></div>
          </h1>
          <div class="dropdown-submenu">
            <ul>
              {% assign sections = site.pages | where: "name", "exec archive" %}
              {% for section in sections %}
              <li><a href="{{section.permalink}}">past</a></li>
              {% endfor %}
            </ul>
          </div>
        </li>
        <li><h1><b>execs</b></h1></li>
      </ul>
    </div>
    <!-- Exec Thumbnail Gallery -->
    <div id="execs-content">
      <div class="flex-container">
        {% assign sortedExecs = site.execs | sort: 'order' %}
        {% for exec in sortedExecs %}
          {% if exec.status == 'active' %}
            <div class="flex-element">
              <a href="#{{exec.firstName}}"> <!-- To make image clickable, wrap in <a> -->
                <span id="me">{{exec.firstName}}</span>
                <div class="image-container">
                  <div class="hover-overlay"></div>
                  <img src="{{site.baseurl}}/img/exec-photos/{{exec.image}}" alt="exec-image"/>
                </div>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <!-- Exec detail modal windows -->
    {% assign activeExecs = site.execs | where: "status", "active" %}
    {% assign sortedExecs = activeExecs | sort: 'order' %}
    {% for exec in sortedExecs %}
      <div id="{{exec.firstName}}" class="modal-overlay">
        <div class="container"> <!-- The actual modal window -->

          <div id="exec-modal-full" class="hidden-sm-down">
            <div class="row">
              <div class="col-4"> <!-- The left hand column (img, name, and position) -->
                <div class="row">
                  <div class="col-12">
                    <div class="modal-image-container">
                      <img src="{{site.baseurl}}/img/exec-photos/{{exec.image}}" alt="exec-image"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <h3><b>{{exec.title}}</b></h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <span>{{exec.position}}</span>
                  </div>
                </div>
              </div>
              <div class="col-8"> <!-- The right hand column (close button, detail paragraphs) -->
                <div class="row">
                  <div class="col-12">
                    <button class="close-button">X</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    {{exec.content | markdownify}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="exec-modal-mobile" class="hidden-md-up">
            <div class="row">
              <div class="col-12">
                <button class="close-button">X</button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <img src="{{site.baseurl}}/img/exec-photos/{{exec.image}}" alt="exec-image"/>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h3><b>{{exec.title}}</b></h3>
              </div>
              <div class="col-12">
                <span>{{exec.position}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                {{exec.content | markdownify}}
              </div>
            </div>
          </div>


          <div> <!-- Nav Buttons -->
            {% unless forloop.first %} <!-- if not the first exec -->
              <div class="nav-button">
                <a class="prev-button" href=""><</a>
              </div>
            {% else %}
              <!-- A hacky way of fixing the issue where the next button
              collapses onto the left side. This is because of the css
              rules targeting the .nav-buttons by nth-of-type. So for the
              first exec, since there's no prev button, the next button
              becomes the first .nav-button and takes on the prev button
              styling. Here, we add an invisible dummy to prevent that -->
              <div class="nav-button" style="opacity: 0"></div>
            {% endunless %}
            {% unless forloop.last %} <!-- if != the last exec -->
              <div class="nav-button">
                <a class="next-button" href="">></a>
              </div>
            {% endunless %}
            </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
