---
name: news

category: page
layout: default
order: 1
permalink: /news/
---

<section class="grid-container" id="news">
  <div class="text">
    <h1>News _ </h1>
  </div>
  <div class="grid-container content-wrapper">
    {% assign news = site.posts | where: "category", "news" %}
    {% for post in news %}
      <a href="{{post.url}}">
        <div class="grid-container news-item">
          <div class="text">
            <h3>{{post.title}}</h3>
            <span>{{post.date | date: "%B %-d, %Y" }}</span>
          </div>
          {% if post.image %}
            <div class="news-img" style="background-image: url('{{site.baseurl}}/img/post-photos/{{post.image}}')">
            </div>
          {% else %}
            <div class="blank-news-img"></div>
          {% endif %}
        </div>
      </a>
    {% endfor %}
  </div>
</section>
