---
name: news

category: page
layout: default
order: 1
permalink: /news/
---

<section class="grid-container" id="news">
  <header class="masthead">
    <div class="masthead-img"></div>
    <div class="masthead-txt">
      <h1>News</h1>
    </div>
  </header>
  <div class="grid-container content-wrapper">
    {% assign news = site.posts | where: "category", "news" %}
    {% for post in news %}
      <a href="{{post.url}}">
        <div class="grid-container news-item">
          <div class="news-item-content news-text">
            <h3>{{post.title}}</h3>
            <span>{{post.date | date: "%B %-d, %Y" }}</span>
            <p>{{post.summary}}</p>
          </div>
          {% if post.image %}
            <div class="news-item-img" style="background-image: url('{{site.baseurl}}/img/post-photos/{{post.image}}')">
            </div>
          {% else %}
            <div class="news-item-img" style="background-image: url('{{site.baseurl}}/img/logo.png')">
            </div>
          {% endif %}
        </div>
      </a>
    {% endfor %}
  </div>
</section>
