---
layout: default
permalink:
---

<main class="grid-container" id="home">
  <header class="grid-container">
    <div class="text">
      <h1>SFU Concert Orchestra</h1>
    </div>
  </header>
  <section class="grid-container" id="home-upcoming">
    <div class="grid-container content-wrapper">
      {% assign concert = site.posts | where: "category", "feature" %}
      {% for post in concert limit: 1%}
        <div class="text">
          <h3>{{post.title}}</h3>
          <span>{{post.date | date: "%B %-d, %Y"}}</span>
          <p>{{post.summary}}</p>
          <a href="{{post.url}}">Read More...</a>
        </div>
        <a href="{{site.baseurl}}/img/post-photos/{{post.image}}">
          <div class="image" style="background-image: url('{{site.baseurl}}/img/post-photos/{{post.image}}')">
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="text">
      <h2>Upcoming Concert</h2>
    </div>
  </section>
  <section class="grid-container" id="home-news">
    <div class="text">
      <h2>Latest News</h2>
    </div>
    <div class="grid-container content-wrapper">
      {% assign news = site.posts | where: "category", "news" %}
      {% for post in news limit: 4 %}
        <a href="{{post.url}}">
          <div class="grid-container news-item">
            {% if post.image %}
              <div class="news-img" style="background-image: url('{{site.baseurl}}/img/post-photos/{{post.image}}')">
              </div>
            {% else %}
              <div class="blank-news-img"></div>
            {% endif %}
            <div class="text">
              <h3>{{post.title}}</h3>
              <span>{{post.date | date: "%B %-d, %Y"}}</span>
              <p>{{post.summary}}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="text">
      <a href="{{site.baseurl}}/news/"><span>All News ></span></a>
    </div>
  </section>
</main>
