<!-- Contact Form -->
<div class="modal-overlay" id="contact-form-overlay">
    <div class="modal-box container">
        <div class="row">
            <div class="toolbar twelve columns">
                <a class="close-button" href="#contact">X</a>
            </div>
        </div>
        <div class="row" id="letterhead">
            <div class="two columns ">
                <img id="contact-logo" src="{{site.baseurl}}/img/logo.png" alt="logo"/>
            </div>
            <div class="ten columns">
                <h3>
                    sfu
                    <span class="ch-bold">concert orchestra</span>
                </h3>
                <h4>
                    simon sraser university, <br />
                    burnaby, bc
                </h4>
            </div>
            <hr />
        </div>
        <div class="row" id="contact-form-body">
            <div class="twelve rows">
                <hr />
                <form method="POST" id="contact-form">

                    <!-- spambot protection -->
                    <input type="text" name="_gotcha" style="display:none" />

                    <span>
                        Hello, <br /><br />
                        My name is
                    </span>
                    <input type="text" name="name"/>
                    <span>.</span>
                    <span>I'd like to ask about</span>
                    <input type="text" name="subject"/>
                    <span>.</span>
                    <br />
                    <span>You can reach me at</span>
                    <input type="text" name="email"/>
                    <span>.</span>
                    <br />
                    <br />
                    <span>Thanks!</span>
                    <br /><br />
                    <span>P.S. I play  </span>
                    <select name="instrument">
                      <option value="" disabled selected>(pick an instrument)</option>
                      <option value="violin">violin</option>
                      <option value="viola">viola</option>
                      <option value="cello">cello</option>
                      <option value="bass">bass</option>
                      <option value="flute">flute</option>
                      <option value="clarinet">clarinet</option>
                      <option value="oboe">oboe</option>
                      <option value="bassoon">bassoon</option>
                      <option value="trumpet">trumpet</option>
                      <option value="trombone">trombone</option>
                      <option value="horn">french horn</option>
                      <option value="euphonium">euphonium</option>
                      <option value="tuba">tuba</option>
                      <option value="piano">piano</option>
                      <option value="percussion">drums and stuff</option>
                      <option value="other">another instrument not listed here</option>
                      <option value="none">...actually I don't play an instrument</option>
                    </select>
                    <br /><br /><br />
                    <input type="submit" value="Send">
                </form>
                <span id="error-text"></span>
            </div>
        </div>
    </div>
</div>
