<!-- Contact Form -->
<div class="modal-overlay" id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <img src="{{site.baseurl}}/img/logo.png" alt="envelope" />
            </div>
            <div class="col-1 col-xs-offset-7">
                <a class="close-button" href="#contact">X</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1>contact <b>us</b></h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>hi, sfuco!</h3>
            </div>
        </div>
        <form method="POST" id="contact-form-content">
            <!-- spambot protection -->
            <input type="text" name="_gotcha" style="display:none" />

            <div class="row">
                <div class="col-xs-4">
                    <label>My <b>name</b> is:</label>
                </div>
                <div class="col-xs-8">
                    <input type="text" name="name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <label>You can <b>email</b> me at:</label>
                </div>
                <div class="col-xs-8">
                    <input type="text" name="email"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <label>I'm writing to you because:</label>
                </div>
                <div class="col-xs-8">
                    <textarea rows="4" cols="50" name="message" form="contact-form-content"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <label><em>p.s.</em> &nbsp I play the : </label>
                </div>
                <div class="col-xs-8">
                    <select name="instrument">
                      <option value="" disabled selected>(pick an instrument)</option>
                      <option value="violin">violin</option>
                      <option value="viola">viola</option>
                      <option value="cello">cello</option>
                      <option value="bass">bass</option>
                      <option value="flute">flute</option>
                      <option value="clarinet">clarinet</option>
                      <option value="oboe">oboe</option>
                      <option value="bassoon">bassoon</option>
                      <option value="trumpet">trumpet</option>
                      <option value="trombone">trombone</option>
                      <option value="horn">french horn</option>
                      <option value="euphonium">euphonium</option>
                      <option value="tuba">tuba</option>
                      <option value="piano">piano</option>
                      <option value="percussion">drums and stuff</option>
                      <option value="other">I can't believe you didn't list my instrument here!</option>
                      <option value="none">...wait, I don't play an instrument!</option>
                    </select>
                </div>
            </div>
            <br /><br /><br />
            <div class="row">
                <div class="col-xs-8">
                    <label id="error-text"></label>
                </div>
                <div class="col-xs-4">
                    <input type="submit" value="SEND">
                </div>
            </div>
        </form>
    </div>
</div>
