<h2 class="inline ch-book">contact</h2>
<h2 class="inline ch-bold">us</h2>


<div class="twelve columns">
    <a href="#contact-form">
        <img src="{{site.baseurl}}/img/icons/envelope.png" alt="envelope" />
    </a>
</div>

<!-- Contact Form -->
<div class="modal-overlay" id="contact-form">
    <div class="modal-box container">
        <div class="row">
            <div class="two columns">
                <img id="contact-logo" src="{{site.baseurl}}/img/logo.png" alt="logo"/>
            </div>
            <div class="eight columns">
                <h1>
                    sfu
                    <span class="ch-bold">concert orchestra</span>
                </h1>
                <h2>
                    simon sraser university, <br />
                    burnaby, bc
                </h2>
            </div>
            <div class="toolbar two columns">
                <a class="close-button" href="#contact">X</a>
            </div>
        </div>
        <div class="row" id="contact-form-body">
            <div class="twelve rows">
                <hr />
                <form>
                    <span>
                        Hello, <br /><br />
                        My name is
                    </span>
                    <input type="text" name="name"/>
                    <span>.</span>
                    <span>I'd like to ask about</span>
                    <input type="text" name="subject"/>
                    <span>.</span>
                    <br />
                    <span>You can reach me at</span>
                    <input type="text" name="email"/>
                    <span>.</span>
                    <br />
                    <br />
                    <span>Thanks!</span>
                    <br /><br />
                    <br /><br /><br />
                </form>
            </div>
        </div>
    </div>
</div>
