<!-- Page Title -->
<div class="dropdown-container">
    <ul>
        <li class="dropdown-parent">
            <h1>
                current
                <div class="down-triangle"></div>
            </h1>
            <div class="dropdown-submenu">
                <ul>
                    <li><a href="">past</a></li>
                </ul>
            </div>
        </li>
        <li><h1><b>execs</b></h1></li>
    </ul>
</div>

<!-- Exec Thumbnail Gallery -->
<div id="execs-content">
    <div class="flex-container">
        {% for exec in site.execs %}
        <div class="flex-element exec-bio">
            <a href="#{{exec.firstName}}">
                <span>{{exec.firstName}}</span>
                <div class="hover-overlay"></div>
                <img src="{{site.baseurl}}/img/exec-photos/{{exec.image}}" alt="exec-image"/>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Exec Detail Overlays -->
<div class="exec-overlay">
    {% for exec in site.execs %}
        <div class="modal-overlay" id="{{exec.firstName}}">
            <div class="container">

                <div class="row">
                    <div class="col-4 col-xs-offset-8">
                        <a class="close-button" href="#execs">X</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-4">
                        <div class="exec-image-container">
                            <img src="{{site.baseurl}}/img/exec-photos/{{exec.image}}"
                                alt="exec-image"/>
                        </div>
                    </div>
                </div>

                <div class="exec-text">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>
                                        <b>{{exec.title}}</b>
                                    </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span>{{exec.position}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="exec-description">
                                {{exec.content}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nav-buttons">
                    {% if {{forloop.index}} > 1 %}
                    <div class="nav-wrapper-prev"> <!-- Need this to detect hover -->
                        <div class="prev-button">
                            <span id="x"><a href=""><</a></span>
                        </div>
                    </div>
                    {% endif %}

                    <!-- Note: the following is equivalent to "if != forloop.last" -->
                    {% unless forloop.last %}
                    <div class="nav-wrapper-next">
                        <div class="next-button">
                            <span><a href="">></a></span>
                        </div>
                    </div>
                    {% endunless %}
                </div>

            </div>
        </div>
    {% endfor %}
</div>
