<!-- Page Title -->
<div class="dropdown-container">
    <ul>
        <li class="dropdown-parent">
            <h1>
                current
                <div class="down-triangle"></div>
            </h1>
            <div class="dropdown-submenu">
                <ul>
                    <li><a href="">past</a></li>
                </ul>
            </div>
        </li>
        <li><h1><b>execs</b></h1></li>
    </ul>
</div>

<!-- Exec Thumbnail Gallery -->
<div id="execs-content">
    <div class="flex-container">

        {% assign sorted = (site.execs | sort: 'order') %}

        {% for exec in sorted %}
        <div class="flex-element exec-bio">
            <a href="#{{exec.firstName}}">
                <span>{{exec.firstName}}</span>
                <div class="hover-overlay"></div>
                <img src="{{site.baseurl}}/img/exec-photos/{{exec.image}}" alt="exec-image"/>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Exec Detail Overlays -->
{% for exec in site.execs %}
<div class="modal-overlay" id="{{exec.firstName}}">
    <div class="modal-box container">
        <div class="toolbar row">
            <a class="close-button" href="#execs">X</a>
        </div>
        <div class="row">
            <div class="exec-image-container col-md-8 col-md-offset-4">
                <img src="{{site.baseurl}}/img/exec-photos/{{exec.image}}"
                    alt="exec-image"/>
            </div>
        </div>
        <div class="exec-detail-text row">
            <div class="exec-name col-md-4">
                <h3>
                    {{exec.title}}
                </h3>
                <span>{{exec.position}}</span>
            </div>
            <div class="exec-description col-md-8">
                {{exec.content}}
            </div>
        </div>
    </div>
</div>
{% endfor %}
