<div id="execs-content">
    <h2 class="inline ch-book">the</h2>
    <h2 class="inline ch-bold">execs</h2>

    <!-- Exec Thumbnail Gallery -->
    <div class="flex-container">
        <div class="flex-element exec-bio">
            <a href="#exec-1">
                <span>nathalie</span>
                <div class="hover-overlay"></div>
                <img src="img/exec-photos/7.jpg" alt="exec-image"/>
            </a>
        </div>

        <div class="flex-element exec-bio">
            <a href="">
                <span>nikolai</span>
                <div class="hover-overlay"></div>
                <img src="img/exec-photos/2.jpg" alt="exec-image"/>
            </a>
        </div>
        <div class="flex-element exec-bio">
            <a href="">
                <span>andy</span>
                <div class="hover-overlay"></div>
                <img src="img/exec-photos/3.jpg" alt="exec-image"/>
            </a>
        </div>
        <div class="flex-element exec-bio">
            <a href="">
                <span>dan</span>
                <div class="hover-overlay"></div>
                <img src="img/exec-photos/4.jpg" alt="exec-image"/>
            </a>
        </div>
        <div class="flex-element exec-bio">
            <a href="">
                <span>lisa</span>
                <div class="hover-overlay"></div>
                <img src="img/exec-photos/5.jpg" alt="exec-image"/>
            </a>
        </div>
        <div class="flex-element exec-bio">
            <a href="">
                <span>reinier</span>
                <div class="hover-overlay"></div>
                <img src="img/exec-photos/6.jpg" alt="exec-image"/>
            </a>
        </div>
    </div>
</div>

<!-- Exec Detail Overlays -->
<div class="exec-detail-overlay" id="exec-1">
    <div class="exec-detail container">
        <div class="toolbar row">
            <a class="close-button" href="#execs">X</a>
        </div>
        <div class="exec-detail-image row">
            <div class="twelve columns">
                <img src="img/exec-photos/7.jpg" alt="exec-image"/>
            </div>
        </div>
        <div class="exec-detail-text row">
            <div class="exec-name four columns">
                <h3>
                    nathalie scott-hsiung
                    <span>co-president</span>
                </h3>
            </div>
            <div class="exec-description eight columns">
                <p>{% include lorem.html %}</p>
                <p>{% include lorem.html %}</p>
                <p>{% include lorem.html %}</p>
            </div>
        </div>
    </div>
</div>
