<footer class="grid-container">
  <nav id="footer-sections">
    <h2>Sections</h2>
    <ul>
      {% assign sections = site.pages | where: "category", "page" %}
      {% assign sorted = sections | sort: 'order' %}
      {% for section in sorted %}
        <li><a href="{{section.permalink}}">{{section.name}}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <nav id="footer-other">
    <h2>Other Pages</h2>
    <ul>
      {% assign sections = site.pages | where: "category", "archive" %}
      {% assign sorted = sections | sort: 'order' %}
      {% for section in sorted %}
        <li><a href="{{section.permalink}}">{{section.name}}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <nav id="footer-social">
    <h2>Social</h2>
    <ul>
      <li>
        <a href="https://www.facebook.com/sfuorchestra/">
          <div class="img-overlay-container">
            <img class="img-overlay" src="{{site.baseurl}}/img/icons/social/fb_col.png" />
            <img src="{{site.baseurl}}/img/icons/social/fb_white.png" />
          </div>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/sfuorchestra">
          <div class="img-overlay-container">
            <img class="img-overlay" src="{{site.baseurl}}/img/icons/social/tw_col.png"/>
            <img src="{{site.baseurl}}/img/icons/social/tw_white.png" alt="envelope" />
          </div>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCtXPR57Dp0Uy1G1nAajO0HQ">
          <div class="img-overlay-container">
            <img class="img-overlay" src="{{site.baseurl}}/img/icons/social/yt_col.png"/>
            <img src="{{site.baseurl}}/img/icons/social/yt_white.png" alt="envelope" />
          </div>
        </a>
      </li>
    </ul>
  </nav>
  <div class="grid-container" id="footer-info">
    <img src="{{site.baseurl}}/img/logo.png" alt="logo" />
    <p>
      <span>Simon Fraser University <br /> Concert Orchestra</span>
      <br />
      SFU Burnaby
      <br />
      <br />
      &copy 2018
    </p>
  </div>
</footer>
