<!-- Mobile layout -->
<div class="mobile-bg hidden-md hidden-lg hidden-xl">
    <div class="overlay">
        <div class="page-title">
            <h1>
                sfu
                <b>concert orchestra</b>
            </h1>
        </div>
    </div>
</div>

<!-- Full, medium+ screen layout -->
<div class="full-bg hidden-xs hidden-sm">
    <div class="overlay">
        <div class="page-title">
            <h1>
                sfu
                <b>concert orchestra</b>
            </h1>
        </div>
    </div>
</div>
