<nav>
  <!-- Full nav -->
  <div id="nav-full" class="hidden-sm-down">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">
          <a href="{{site.baseurl}}/"><div class="logo"></div></a>
        </div>
        <div class="menu col-md-11">
          <ul>
            <!-- since home is not a section, it won't show up in the loop -->
            <li><a href="{{site.baseurl}}/">home</a></li>
            {% assign sections = site.sections | where: "category", "page" %}
            {% assign sorted = sections | sort: 'order' %}
            {% for section in sorted %}
              <li>

                  <!-- Count the number of subpages for this section -->
                  {% assign count = 0 %}
                  {% assign subpages = site.sections | where: "category", "subpage" %}
                  {% for subpage in subpages %}
                    {% if subpage.parent == section.name %}
                      {% assign count = count | plus: 1 %} <!-- {{increment count}} doesn't work? -->
                  {% endif %}
                  {% endfor %}

                  {% if count > 0 %} <!-- if the section has subpages, make a dropdown -->
                    <div class="dropdown-container">
                      <div class="dropdown-parent">
                        <a href="{{section.permalink}}">{{section.name}}</a>
                        <div class="down-triangle"></div>
                        <div class="dropdown-submenu">
                          <ul>
                            <!-- Assign any subpages to this section's dropdown menu -->
                            {% assign subpages = site.sections | where: "category", "subpage" %}
                            {% for subpage in subpages %}
                            {% if subpage.parent == section.name %}
                              <li><a href="{{subpage.permalink}}">{{subpage.name}}</a></li>
                            {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  {% else %} <!-- otherwise, just the link -->
                    <a href="{{section.permalink}}">{{section.name}}</a>
                  {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile nav -->
  <div id="nav-mobile" class="hidden-md-up">

  </div>
</nav>
