<div class="navbar">
  <div class="logo-wrapper">
    <a href="{{site.baseurl}}/"><div class="logo"></div></a>
  </div>
  <nav class="desktop">
    <ul>
      <li><a href="{{site.baseurl}}/">home</a></li> <!-- since home is not a section, it won't show up in the loop -->
      {% assign sections = site.pages | where: "category", "page" %}
      {% assign sorted = sections | sort: 'order' %}
      {% for section in sorted %}
        <li>
          {% if section.subsections %}
            <div class="dropdown grid-container">
              <a href="{{section.permalink}}">{{section.name}}</a>
              <div class="arrow"></div>
              <nav>
                <ul>
                  {% for subsection in section.subsections %}
                    <li>
                      <a href="{{site.baseurl}}/{{subsection.permalink}}">
                        {{subsection.name}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </nav>
            </div>
          {% else %}
            <a href="{{section.permalink}}">{{section.name}}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
