<div class="dropdown-container">
    <ul>
        <li class="dropdown-parent">
            <h1>
                current
                <div class="down-triangle"></div>
            </h1>
            <div class="dropdown-submenu">
                <ul>
                    <li><a href="">older</a></li>
                </ul>
            </div>
        </li>
        <li><h1><b>news</b></h1></li>
    </ul>
</div>

<div class="col-sm-12">
    <ul>
        {% for news in site.posts %}
        <div class="news-item">
            <div class="news-photo col-md-4">
                {% if news.image %}
                    <img src="{{site.baseurl}}/img/post-photos/{{news.image}}" alt="news-image"/>
                {% endif %}
            </div>

            <div class="news-text col-md-8">
                <li>
                    <h2>
                        <a href="">{{news.title}}</a>
                        <span> | {{ news.date | date: "%B %-d, %Y" }}</span>
                    </h2>
                    <div class="news-content">
                        {{news.content}}
                    </div>
                </li>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>
