<div class="page-title">
    <h1>
        the
        <b>news</b>
    </h1>
</div>
<div class="twelve columns">
    <ul>
        {% for news in site.posts %}
        <div class="news-item">
            <li>
                <h2>
                    <a href="">{{news.title}}</a>
                    <span> | {{ news.date | date: "%B %-d, %Y" }}</span>
                </h2>
                <div class="news-content">
                    {{news.content}}
                </div>
            </li>
        </div>
        {% endfor %}
    </ul>
</div>
