/// Global Variables

$PAGE_MARGINS: 15px;
$NAVBAR_HEIGHT: 55px;

// Screen thresholds
// Each represents the minimum width to be considered that size
$MIN_WIDTH: 375px; // This is the observed min width before content starts getting cut off
// [Taken from Bootstrap thresholds]
$SMALL_WIDTH: 576px;
$MED_WIDTH: 768px;
$LARGE_WIDTH: 992px;
$XL_WIDTH: 1200px;

// Colors

$blue: rgb(64,120,209);
$cool-black: rgb(5,47,95);
$grey: rgb(26,26,26);
$grey2: rgb(51, 51, 51);
$light-grey: rgb(245, 245, 245);
$navy: rgb(32,38,48);
$red: rgb(216,85,62);
$white: rgb(255,255,255);
