@import 'colors';


#about h1, #about h2 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: $grey2;
}

#about p {
  font-family: "EB Garamond", sans-serif;
  text-align: justify;
}

.grid-container { // CSS-Grid container
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 15px;
    margin-left: 15px;
    margin-right: 15px;
}


#about-overview.grid-container, #about-vision.grid-container, #about-history.grid-container {
  width: auto;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#about-vision.grid-container, #about-history.grid-container {
  height: 75vh;
}

#about-overview.grid-container {
  grid-template-areas: ". . . ."
                       "text text . ."
                       "text text . ."
                       ". . . .";
}

#about-vision.grid-container {
  grid-template-areas: ". . . ."
                       "img img text text"
                       "img img text text"
                       ". . . .";
}

#about-history.grid-container {
  grid-template-areas: ". . . ."
                       "text text img img"
                       "text text img img"
                       ". . . .";
}

#about-vision > img, #about-history > img {
  grid-area: img;
  width: 100%;
  height: auto;
  outline: 10px solid $grey2;
  outline-offset: -25px;
}

.text {
  width: auto;
  padding: 15px;
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
