@import 'colors';

#about { // Affects both mobile and full layouts
  padding-top: 80px;

  h3 {
    text-align: center;
    font-weight: 100;
  }
  p {
    font-family: 'EB Garamond', serif;
    font-size: 14px;
  }
  img {
    max-width: 100%; // Prevent image from being too big
    max-height: 100%;
    opacity: 0.9;
  }

  .pop-box { // Center the content in the boxes
    display: flex;
    align-items: center;
  }
}

#about-mobile {
  h1, h2, p {
    color: $grey;
  }
  h2 {
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 3;
    font-size: 56px;
    background-color: $grey;
    color: $white;
  }
  img {
    margin-bottom: 12px;
    opacity: 0.75;
  }
}

#about-full {
  .pop-box:nth-child(1) {
    animation: fadeIn 3s, slideLeftRight 1s;
  }
  .pop-box:nth-child(2) {
    animation: fadeIn 3s, slideRightLeft 1s;
  }
  img {
    animation: fadeIn 3s;
  }
}

// Animations
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes slideLeftRight {
  0% {transform: translateX(-50vw);}
  100% {transform: translateX(0vw);}
}

@keyframes slideRightLeft {
  0% {transform: translateX(50vw);}
  100% {transform: translateX(0vw);}
}
