@import "variables";

html {
    overflow-x: hidden;
}

body, h1, h2, h3, h4, p, li, a {
    font-family: CooperHewitt, sans-serif;
    font-weight: normal;
    color: rgb(26,26,26);
}

section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}
