// Reusable classes

@import 'global_variables';

/// Dropdown Menu
.down-triangle {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url("../img/icons/downTriangle.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.dropdown-container {
    width: 100%;

    ul {
       padding: 15px; /* To match bootstrap's default row padding */
    }
    h1 {
       margin: 0;
    }
    li {
        display: inline-block;
        padding: 0 12px 0 0;
        list-style-type: none;
    }
}

.dropdown-parent {
    position: relative;
    display: inline-block;
    z-index: 1;

    &:hover > .dropdown-submenu {
        opacity: 1;
    }
}

.dropdown-submenu {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px 0;
    background-color: rgba($grey,0.9);
    opacity: 0;
    transition:opacity linear 0.15s;

    ul {
        padding: 0;
        text-align: center;
    }
    li {
        display: block;
        a {
            color: $white;
            font-size: 24px; /* Based on h1 size of 36px */
        }
    }
}

/// Flexbox
// A collection of elements that are dynamically arranged
// on the page.
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  max-width: 200px;
  max-height: 200px;
  margin: 3px;
  position: relative;
}

/// Image Container
// A container for imgs with an overlay
// (Takes on the width and height of its parent container
// usually, a flex-element)
.image-container {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hover-overlay { // Usually goes inside an .image-container
  width: 100%;
  height: 100%;
  position: absolute;
  display: none; // Turned on by a trigger
  z-index: 2;
  opacity: 0.7;
  background-color: $grey;
}

/// Modal window
// A window that takes the foreground, darkening all
// content behind it
.modal-overlay { // The mask that dims background
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 3;
  background-color: rgba($grey, 0.9); // Dim the background

  // This is activated when it's targeted - as such, it needs
  // to contain a corresponding id.
  // e.g. <div id="me" class="modal-overlay">
  // This is activated when the url points to it, i.e.
  // ".../#me"
  &:target { // Show when it's the target
    display: flex;
    align-items: center; // centers the modal window vertically
  }
  .container {
    width: 50vw;
    height: 80vh;
    position: relative; // necessary for positioning floating elements in window
    z-index: 3;
    background-color: $white;
  }

  // Make modal window fullscreen for small devices
  // Note: 991px is the BS limit for medium screens
  @media screen and (max-width: 991px) {
    .container {
      width: 100%;
      height: 100%;
    }
  }
}

.modal-image-container {
  padding: 0; // Reset BS padding
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  img {
    max-width: 100%;
    max-height: 25vh;
    height: auto;
  }
}

.close-button {
  display: block;
  float: right;
  padding-top: 0;
  margin-bottom: 12px;
  text-align: right;
  font-weight: bold;
  font-size: 16px;
  border-style: none;
  background-color: $grey;
  color: $white;
}

.close-button:hover {
  font-weight: bold;
  background-color: $red;
  color: $white;
  transition: background-color 1s, color 0.2s;
}

.nav-button {
  width: 36px;
  height: 25%;
  position: absolute;
  top: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba($grey, 0.8);
  a {
    font-size: 24px;
    border-style: none;
    color: $white;
  }
  a:hover {
    text-decoration: none;
    font-weight: bold;
  }
}
.modal-overlay > .container:hover .nav-button{
  opacity: 1;
}
.nav-button:nth-of-type(1) { // 'prev' button
  left: 0;
}
.nav-button:nth-of-type(2) { // 'next' button
  right: 0;
}

.scroll-lock {
  overflow: hidden;
}

/// Pop Box
// A box with a drop shadow
.pop-box {
  z-index: 2;
  background-color: $white;
  box-shadow: 0 0 15px rgba($grey, 0.5);
}

/// Image Overlay
// An <img class="img-overlay"> will
// be invisible until hovered over
// Used to show transformation between one image into another on hover
// It's a variation on .hover-overlay
// e.g. place an <img class="img-overlay"> of a colored
// img above a black and white one - hovering over it
// will transform the b&w one to colored
// Note: both imgs should be in a <div class="img-overlay-container">
.img-overlay {
  position: absolute;
  opacity: 0;
  transition: opacity .05s ease-in;
}

.img-overlay-container:hover .img-overlay {
  opacity: 1;
  transition: opacity .25s ease-out;
}

// Utilities
.full-margins {
  margin-bottom: 150px;
}

.mobile-margins {
  margin-bottom: 24px;
}

// CSS-Grid
.grid-container { // CSS-Grid container
  display: grid;
  grid-template-columns: auto;
}

.text {
  width: auto;
  padding: 15px;
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.background-shading {
  width: 75%;
  height: 75%;
  position: absolute;
  top: -5%;
  left: 5%;
  background-color: rgba($grey2, 0.1);
}
