@import 'global_variables';

#contact.grid-container {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto-fill;
  grid-template-areas: "title"
                       "content";
}

#contact > .text {
  grid-area: title;
  min-height: 40vh;
  margin: $NAVBAR_HEIGHT $PAGE_MARGINS;
  margin-bottom: 0;
  padding: 0 $PAGE_MARGINS;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact .text {
  text-transform: uppercase;
  letter-spacing: 8px;
}

#contact > .content {
  grid-area: content;
  min-height: 37vh;
  padding: 0 calc(#{$PAGE_MARGINS} * 2);
  background-color: rgba($grey2, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact > .content h2 {
  text-transform: uppercase;
}

#contact > .content ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

#contact > .content li {
  margin: 0 15px;
}

#contact > .content img {
  width: 50px;
  height: 50px;
}
