@import 'colors';

#contact {
  min-height: 80vh;
  padding-top: 60px;
  margin-bottom: 24px;
  overflow: auto;

  h1, h2, h3, h4, p, span, label {
    color: $grey;
  }

  h1 {
    text-align: center;
    letter-spacing: 2px;
  }

  b {
    color: $grey;
  }

  hr {
    border-color: rgba($grey, 0.3);
  }

  label {
    color: rgba($grey, 0.6);
    padding-right: 12px;
  }

  input {
    width: 100%;
    color: $grey;
    background-color: $white;
    padding-bottom: 0px;
    border: none;
    border-bottom: 1px solid $grey;
    border-radius: 0px;
    outline: none;
  }

  input[type=submit] {
    float: right;
    font-weight: bold;
    border: 1px solid $grey;
    background-color: $white;

    &:hover {
        color: $white;
        background-color: $grey;
    }
  }

  textarea {
    width: 100%;
    border: none;
    color: $grey;
    background-color: $white;
    border-bottom: 1px solid $grey;
    outline: none;
  }

  #error-text {
    color: $red;
  }

  #send-button {
    width: 100px;
  }
}
