@import 'colors';

#execs {
  .modal-overlay {
    h3 {
      text-align: right;
    }

    span {
      position: relative;
      display: block;
      margin-bottom: 24px;
      text-align: right;
      font-weight: 100;
      font-size: 18px;
      color: $grey;
    }

    p {
      font-family: 'EB Garamond', sans-serif;
      font-size: 16px;
    }

    .col-8 .row:nth-child(2) { // The sub-row containing paragraphs
      max-height: 75vh; // Honestly, just eyeballed this one after not being able to
                        // find an appropriate percentage relative to parent
      overflow-y: auto;
    }
  }

  .modal-image-container {
    justify-content: flex-end; // Override default image alignment so that it
  }                             // matches the text alignment

  #exec-modal-mobile {
    height: 100vh;
    padding-top: 80px;
    overflow-x: hidden;
    overflow-y: auto;
    span {
      line-height: 12px;
    }
    img {
      width: 100%;
    }
  }
}

#execs-content {
  .flex-element:hover span { // Overlay name on hover
    opacity: 1;
  }
  .flex-element:hover .hover-overlay{ // Darken image on hover
    display: block;
  }
}

#execs-content span {
  position: absolute;
  top: 150px;
  left: 25px;
  display: block;
  z-index: 3;
  color: $white;
  opacity: 0;
  font-size: 24px;
  font-weight: bold;
}

// Exec thumbnail stylying for small screens
// Note: 991px is the BS limit for medium screens
@media screen and (max-width: 991px) {
  .flex-element {
    max-width: 100px;
    max-height: 100px;
    margin: 1px;
  }
  #execs-content span {
    display: none;
  }
  #execs-content .flex-element:hover .hover-overlay {
    display: none;
  }
}
