@import "variables";

/* Flex Container */
.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-element {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px;
}
