@import 'global_variables';

footer {
  background-color: blue;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  width: 100vw;
}

footer .logo {
  background-image: url('../img/logo.png');
  background-position: center;
  background-size: cover;
  height: $NAVBAR_HEIGHT;
  margin-left: $PAGE_MARGINS;
  width: $NAVBAR_HEIGHT;
}

footer .tabs {
  background-color: $grey;
  display: grid;
  grid-template: auto / repeat(4, 1fr);
}

footer input {
  display: none;
}

footer label {
  display: inline-block;
  font-size: 12px;
  margin: 0;
  padding-top: 15px;
  text-align: center;
  color: #bbb;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border-top: 2px solid orange;
}

footer .nav-container {
  display: block;
  background-color: $grey2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - #{$NAVBAR_HEIGHT});
  transition: transform .5s;
  transform: translateY(-100vh);
}

.nav-container.down {
  transform: translateY(0);
}

footer .nav-container nav {
  display: none;
  margin: $PAGE_MARGINS;
  text-align: right;
}

.nav-container nav.active {
  display: grid;
}

footer nav h2 {
  color: white;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 10px;
}

footer nav li {
  font-size: 1.5rem;
  letter-spacing: 5px;
  margin: $PAGE_MARGINS;
}

footer img {
  display: none;
}

@media (min-width: $MED_WIDTH) {
  footer .tabs {
    display: none;
  }
}
