/// Website global rules

@import 'global_variables';

body {
  font-family: 'Montserrat', sans-serif;
  color: $grey2;
}

body {
  grid-template: minmax(100vh, auto) auto / 1fr;
}

body > .content-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  z-index: 0;
}

header {
  display: grid;
}

h1 {
  //font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 10px;
}

header h1 { // Page titles
  font-size: 3.5rem;
  letter-spacing: 20px;
}

p {
  font-size: 16px;
  font-family: "EB Garamond", serif;
}

footer {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
