/// Website global rules

@import 'global_variables';

body {
  font-family: 'Montserrat', sans-serif;
  color: $grey2;
}

body {
  grid-template-columns: 1fr;
  grid-template-rows: auto 4fr auto;
  grid-template-areas: "nav"
                       "content"
                       "footer";
  min-height: 100vh;
}

body > .nav-container {
  grid-area: nav;
}

body > .content-container {
  grid-area: content;
}

header {
  display: grid;
}

h1 {
  //font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 10px;
}

header h1 { // Page titles
  font-size: 3.5rem;
  letter-spacing: 20px;
}

p {
  font-size: 16px;
  font-family: "EB Garamond", serif;
}

footer {
  grid-area: footer;
}
