@import "variables";


/* Modal Overlay (Lightbox) */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba($black,0.9);
    z-index: 2;

    &:target {
        display: block;
    }

    .container {
        position: relative; /* Important for positioning floating elements within the overlay */
        width: 50vw;
        height: 90vh;
        margin-top: 2.5%;
        z-index: 3;
        background-color: $white;
        overflow-y: auto;

        .row {
            padding: 0 2.5%;
            overflow: hidden;
        }
    }

    /* Note: Make modal box fullscreen for less than large devices*/
    /* 991px is the BS limit for medium screens */
    @media screen and (max-width: 991px) {
        .container {
            width: 100%;
            height: 100%;
            margin-top: 0;
        }
    }
}

.close-button {
    display: block;
    padding-top: 5%;
    padding-right: 5%;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    color: $black;
}

.overlay {
    width: 100%;
    height: 100%;
}

/* Note: Can't use a generalized .nav-wrapper and :nth-child()s here
    since the templating messes up the :nth-child() order if one side
    gets eliminated by the logic (i.e. the first page doesn't get a
    prev button) */
.nav-wrapper-prev {
    width: 10%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 0;

    &:hover .prev-button {
        opacity: 1;
    }
}

.nav-wrapper-next {
    width: 10%;
    height: 50%;
    position: absolute;
    top: 25%;
    right: 0;

    &:hover .next-button {
        opacity: 1;
    }
}

@mixin general-nav-button {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    background-color: rgba($black,0.5);
    box-shadow: 5px 5px 5px rgba($black,0.9);
    text-align: center;
    opacity: 0;
    transition:opacity linear 0.15s;
}
.prev-button {
    @include general-nav-button;
    left: 0;

    a {
        right: 50%;
    }
}

.next-button {
    @include general-nav-button;
    right: 0;

    a {
        left: 50%;
    }
}

.nav-buttons {
    a {
        position: absolute;
        top: 50%;
        color: $white;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        transform: translateY(-50%);
    }
}
