@import 'global_variables';

#desktop-nav {
  max-height: $NAVBAR_HEIGHT;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba($grey, 0.9);
  // Don't hide overflow since the dropdown menus would be cut off otherwise
  overflow: visible;

  grid-template-columns: 1fr 7fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo . links";
}

#desktop-nav a {
  color: rgba(white, 0.5);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#desktop-nav a:hover {
  text-decoration: none;
  color: white;
}

#desktop-nav .logo {
  grid-area: logo;
  height: $NAVBAR_HEIGHT;
  margin-left: $PAGE_MARGINS;
}

#desktop-nav .logo .img {
  height: 100%;
  background-image: url('../img/logo.png');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

#desktop-nav .links {
  grid-area: links;
}

#desktop-nav .links ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

#desktop-nav .links li {
  margin: calc(#{$PAGE_MARGINS} * 2);
}

#desktop-nav .grid-container.dropdown {
  grid-template-columns: 1fr 0.25fr;
  grid-template-rows: 1fr;
  grid-template-areas: "text arrow";
  margin-top: 5px; // UNSOLVED: since the div is adding space below??
  position: relative;
}

#desktop-nav .grid-container.dropdown .text {
  grid-area: text;
}

#desktop-nav .grid-container.dropdown .down-triangle {
  grid-area: arrow;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(white, 0.5);
  position: absolute;
  margin-top: 5px;
}

#desktop-nav .grid-container.dropdown:hover .dropdown-submenu {
  opacity: 1;
}

#desktop-nav .grid-container.dropdown .dropdown-submenu {
  min-width: 200%;
  background-color: rgba($grey2, 0.9);
}

#desktop-nav .dropdown-submenu ul {
  flex-direction: column; // Reset the horizontal flex from the main nav ul
}

#desktop-nav .dropdown-submenu li {
  margin: 5px;
  padding: 5px;
  text-align: left;
}

#desktop-nav .dropdown-submenu a {
  font-size: 10px;
}
