@import 'colors';

#news {
  padding-top: 80px;

  a {
    color: $grey;
  }
  h1 {
    margin-bottom: 48px;
  }

  .news-list {
    ul {
      padding: 0;
      list-style-type: none;
    }
  }
  .news-item {
    li {
      padding: 0;
      list-style-type: none;
    }
    h2 {
      font-weight: bold;
    }
    span {
      font-weight: 400;
    }
  }
  .news-content {
    margin-top: 16px;
  }
}

#news-full {
  .news-item {
    margin: 12px 0;
    overflow: auto;
  }

  .news-photo { // div containing photo
    width: 100px;
    height: 100px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .news-item .col-md-10 { // The text column
    padding-left: 48px;
  }
}

#news-mobile, #latest-news-mobile {
  h2, span, p {
    color: $white;
  }
  span {
    font-size: 0.8rem;
  }
  h2 {
    font-size: 2rem;
    text-shadow: 2px 2px $grey;
  }
  li {
    margin: 10px 0;
  }

  .news-item {
    height: 100px;
    position: relative;
    padding: 5px 5px 5px 0;
    overflow-y: hidden;
    box-shadow: 5px 5px 1px rgba($grey, 0.25);
    background-color: $grey;
  }
  .news-item img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: blur(3px);
    opacity: 0.3;
  }
}

// This section appears on the home page
#latest-news-mobile {
  .dropdown-container h2 { // Reset from #news-mobile, #latest-news-mobile block
    padding-left: 15px;
    color: $grey;
    text-shadow: none;
  }
  .dropdown-submenu { // Override default opacity
    background-color: $grey;
    margin-left: 15px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .news-item {
    height: 75px;
  }
  .news-item h2 {
    font-size: 1rem;
    font-weight: bold;
  }
}
