@import 'global_variables';

#news {
  grid-template: auto / auto;
  grid-template-rows: 50vh auto;
  margin: 0 $PAGE_MARGINS;
}
@media (min-width: $MED_WIDTH){ // Desktop news layout
  #news {
    grid-template-columns: repeat(6, 1fr);
  }
  #news header {
    grid-column: 1 / 7;
  }
  #news .content-wrapper {
    grid-column: 1 / 4;
  }
}

#news > .content-wrapper a {
  color: $grey2;

  &:hover {
    text-decoration: none;
  }
  &:hover .news-item-content {
    background-color: $light-grey;
  }
  @media (min-width: $MED_WIDTH){
    &:hover .news-item-img {
      transform: translateX(-10px);
      transition: transform 0.25s;
    }
  }
}
