@font-face {
    font-family: CooperHewitt;
    src: url(fonts/CooperHewitt-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: CooperHewitt;
    src: url(fonts/CooperHewitt-Book.otf);
    font-weight: normal;
}

@font-face {
    font-family: CooperHewitt;
    src: url(fonts/CooperHewitt-Thin.otf);
    font-weight: 100;
}
