@import 'global_variables';

#under-construction {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  min-height: 80vh;
}

#under-construction > div {
  display: grid;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  grid-template: auto / auto;
  justify-content: center;
  align-items: center;
}

#under-construction > div img {
  grid-row: 1 / 2;
}

#under-construction > div span {
  grid-row: 2 / 3;
}
