---
layout: default
---

<main class="post">
  <header>
    {% if page.image %}
      <a href="{{site.baseurl}}/img/post-photos/{{page.image}}">
        <div class="image" style="background-image: url({{site.baseurl}}/img/post-photos/{{page.image}})">
        </div>
      </a>
    {% else %}
      <div class="default-header"></div>
    {% endif %}
  </header>
  <article class="grid-container">
    <div>
      <a href="{{site.baseurl}}/news/">< Back to News</a>
    </div>
    <div>
      <h1>{{page.title}}</h1>
      <span>{{ page.date | date: "%B %-d, %Y" }}</span>
    </div>
    <div>
      {{page.content | markdownify}}
    </div>
  </article>
</main>
