---
layout: default
---

<main>
  <article class="profile">
    <header class="masthead">
      <div  class="masthead-img" style="background-image: url('{{site.baseurl}}/img/exec-photos/{{page.image}}')">
      </div>
      <div class="masthead-txt">
        <h1>{{page.title}}</h1>
        <span>{{page.position}}</span>
      </div>
    </header>
    <section class="content">
      <div class="content-body grid-container">
        <div class="content-wrapper">
          {{page.content | markdownify}}
        </div>
      </div>
      <div class="content-extra grid-container">
        {% if page.image %}
        <div class="profile-photo" style="background-image: url('{{site.baseurl}}/img/exec-photos/{{page.image}}')">
        </div>
        {% else %}
        <div class="profile-photo" style="background-image: url('{{site.baseurl}}/img/logo.png')">
        </div>
        {% endif %}
      </div>
    </section>
  </article>
</main>
